<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191665922911-7f8bmmnubtm8llgrrcrrs9762bhp0pft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191665922911-7f8bmmnubtm8llgrrcrrs9762bhp0pft</string>
	<key>API_KEY</key>
	<string>AIzaSyCGGEYes6yvdxgoQbbtWzFdnx0Pu-PuPbg</string>
	<key>GCM_SENDER_ID</key>
	<string>191665922911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nationalcalendarhub.mobile</string>
	<key>PROJECT_ID</key>
	<string>national-calendar-hub</string>
	<key>STORAGE_BUCKET</key>
	<string>national-calendar-hub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191665922911:ios:be910abab06e290cf14cea</string>
</dict>
</plist>